@{
    ViewBag.Title = "Home Page";

}

<div style="width:1000px;margin:0 auto;">


    <ul class="layui-nav layui-nav-tree " style="margin-top:20px;">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">默认展开</a>

        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>


        </li>
    </ul>
</div>